[Desktop Entry]
Name=Commander Wars
Exec=commander_wars
Comment="Advance Wars Clone with a lot of additions customizations and modding support"
Terminal=false
Icon=commander_wars.png
Type=Application
Categories=Game;
